<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>A00892244_assignment2</display-name>

	<context-param>
		<param-name>dbPropertiesPath</param-name>
		<param-value>/WEB-INF/a00892244dbprops.caesar</param-value>
	</context-param>


	<servlet>
		<servlet-name>Assignment2Servlet</servlet-name>
		<servlet-class>a00892244.assignment2.Assignment2Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Assignment2Servlet</servlet-name>
		<url-pattern>/assignment2</url-pattern>
	</servlet-mapping>
	
	 <!-- Register the name "Reporter" for ReportFilter. -->
  <filter>
    <filter-name>Login</filter-name>
    <filter-class>
      a00892244.assignment2.filters.LoginFilter
    </filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>Login</filter-name>
    <url-pattern>/assignment2</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>Login</filter-name>
    <servlet-name>Assignment2Servlet</servlet-name>
  </filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>