/**
 * Edward Lambke A00892244
 */

header, section {
    background-color: #e6e600;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
	border: 2px solid white;
	margin-bottom: 20px;
	border-radius: 20px;
	padding-top: -10px;
	overflow: hidden
}