<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Lab07Servlet</display-name>
  
  <context-param>
		<param-name>Driver</param-name>
		<param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
	</context-param>
	<context-param>
		<param-name>URL</param-name>
		<param-value>jdbc:sqlserver://Beangrinder.bcit.ca</param-value>
	</context-param>
	<context-param>
		<param-name>User</param-name>
		<param-value>javastudent</param-value>
	</context-param>
	<context-param>
		<param-name>Password</param-name>
		<param-value>compjava</param-value>
	</context-param>
	<context-param>
		<param-name>DatabaseName</param-name>
		<param-value>jspweb</param-value>
	</context-param>
	<context-param>
		<param-name>admin</param-name>
		<param-value>admin</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>Lab07Servlet</servlet-name>
		<servlet-class>a00892244.lab7.Lab07Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Lab07Servlet</servlet-name>
		<url-pattern>/lab07</url-pattern>
	</servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>